*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-headers{
    width: 100%;
    background-color: rgb(243, 247, 247);
    }
.container{
    margin-top: 6px;
    width: 100%;
    height: 530px;
    margin-bottom:100px;
}
.collapse{
    font-size: 17px;
    font-weight: bold;
}

.navbar {
    background-color:rgb(243, 247, 247);
    display: flex;
}
.nav-item .nav-link:hover{
    color: beige;
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(green ,rgb(118, 214, 106) );
    border-radius: 10px 10px;
}

.logo{
    width: 15%;
    
}
section{
    display: flex;
}
.ready{
    color: red;
    margin-left: 10px;
}
.text{
    font-weight: bold;
    margin-left: 5px;
}
span{
    color: #51f751;
}
   


.leftside{
    margin: 100px 20px;
}
.rightside{
    margin: 20px;
   

}
.right-image{
    width: 450px;
    margin-top: 100px;
}

.card-img-top{
  width: 100px;
  margin:30px  100px;
}
.card{
    border: none;
}
.card:hover{
    color: rgb(116, 116, 109);
    text-decoration: none;
    font-weight: bold;
    box-shadow: 8px 8px 8px 10px rgb(218,214,214);
    border-radius: 10px 10px;
    border: none;
}
.card-body{
    text-align: left;
   
}
.card-text, .card-title{
    margin-left: 60px;
    font-weight: bold;
    color: rgb(48, 40, 40);
}
.catagories{
    margin-top: -170px;
}

.card-img-top1{
    width: 260px;
    margin:20px 50px;
}


.start{
    width: 15px;
    height: 20px;
}
a.button{
    background-color: #0f8a0f;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
   color: rgb(233, 224, 231);
    border-radius: 10px 10px;
}
a.button:hover{
    background-image:linear-gradient(to bottom, #02c553 70%, #04b13d 100% );
    color: white;
    padding: 9px 18px;
    text-align: center;
    text-decoration: none;
   
    border-radius: 10px 10px;
  }
  
  
p{
    margin-right: 35px;
   
}
.left-image{
    width: 170px;
    margin-left: 220px;
    margin-top: 50px;
}
h1{
   margin-left: 150px;
 
   font-size: 40px;
   font-weight: bold;
   text-shadow: 2px 0px;
}
.text1{
    margin-top: 50px;
}
.container1{
    width: 100%;
    height: 260px;
    margin-top: 100px;
   padding: 30px 100px;
   color: rgb(191, 194, 191);
   background-color:#252424;
}
 li{
    text-decoration: none;
    list-style-type: none;
}
.li{
    font-weight: bold;
}


footer{
    margin:30px 370px;
    color: rgb(191, 194, 191);
}

